.read-story-container {
    .read-story-content {
        .buttons {
            margin: 0 230px;
        }

        .sort-description {
            font-size: 13px;

            .name,
            .author {
                text-transform: uppercase;
                font-weight   : 500;
            }
        }

        .text-lighter {
            color: #aaa;
        }
    }
}