.read-story-container {

    &.dark-theme {
        background-color: #333;
        color           : #fff;

        button:not(.ant-btn-dangerous) {
            color: #fff;
        }

        .ant-descriptions {
            .ant-descriptions-view {
                border-color: #fff;

                .ant-descriptions-row {
                    border-bottom-color: #fff;

                    .ant-descriptions-item-label {
                        color: #fff;
                    }

                    .ant-descriptions-item-content {
                        color: #fff;
                    }
                }
            }
        }
    }

    .read-story-content {

        .buttons {
            &.buttons-margin {
                margin: 0 230px;
            }

            &.buttons-remove-margin {
                margin: 0;
            }
        }

        .text-themeer {
            color: #aaa;
        }
    }
}

.modal-change-font-size {
    .ant-modal-content {
        .ant-modal-body {
            .ant-input-number-group-wrapper {
                width: 120px;

                .ant-input-number-group-addon {
                    padding: 0;
                }
            }
        }
    }
}