.detail-story-container {
    .detail-story-content {
        .top {
            border       : 1px solid #ddd;
            border-radius: 10px;
            padding      : 10px;

            .title {
                font-size: 32px;
            }

            .author {
                cursor: pointer;
                width : fit-content;

                &:hover {
                    color: #4497f8;
                }
            }

            .text-small {
                font-size: 10px;
                color    : #aaa;
            }

            .price {
                td {
                    padding: 0 10px;
                }

                td:nth-child(2) {
                    text-align: end;
                }
            }

            .ant-row {
                .ant-col:nth-child(1) {
                    .image {
                        @media screen and (min-width: 320px) and (max-width: 576px) {
                            width: 130px;
                        }

                        @media screen and (min-width: 320px) and (max-width: 375px) {
                            height: 130px !important;
                            width : 120px;
                        }

                        @media screen and (min-width: 376px) and (max-width: 428px) {
                            height: 150px !important;
                        }

                        @media screen and (min-width: 429px) and (max-width: 576px) {
                            height: 170px !important;
                        }
                    }
                }
            }
        }

        .bottom {
            .author-info {
                border-radius   : 10px;
                background-color: #f2f4f5;
            }

            .icon-info {
                font-size: 25px;
            }

            .text-small {
                font-size: 12px;
            }

            .related-stories {
                .row-story-container {
                    .row-story-content {
                        .ant-row {
                            @media screen and (min-width: 320px) and (max-width: 410px) {
                                row-gap       : unset !important;
                                flex-direction: column;
                            }

                            @media screen and (min-width: 411px) and (max-width: 522px) {
                                .ant-col:nth-child(2) {
                                    padding: 0 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}