.network-detection-container {
    .network-detection-content {
        .network-detection-icon {
            font-size: 100px;
        }

        .network-detection-text {
            font-weight: 500;
        }

        .re-connect-button {
            font-weight: 500;

            .ant-btn-icon {
                -webkit-animation: spin 2s linear infinite;
                animation        : spin 2s linear infinite;

                @-webkit-keyframes spin {
                    0% {
                        -webkit-transform: rotate(0deg);
                    }

                    100% {
                        -webkit-transform: rotate(360deg);
                    }
                }

                @keyframes spin {
                    0% {
                        transform: rotate(0deg);
                    }

                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}