.category-container {
    .category-content {
        .row-story-container {
            .row-story-content {
                .ant-row {
                    @media screen and (min-width: 320px) and (max-width: 410px) {
                        row-gap       : unset !important;
                        flex-direction: column;
                    }

                    @media screen and (min-width: 411px) and (max-width: 522px) {
                        .ant-col:nth-child(2) {
                            padding-left: 20px;
                        }
                    }

                    @media screen and (min-width: 470px) and (max-width: 522px) {
                        .ant-col:nth-child(2) {
                            padding-left: 15px;
                        }
                    }

                    @media screen and (min-width: 510px) and (max-width: 522px) {
                        .ant-col:nth-child(2) {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }

        .ep-3d-stories {
            background-color: var(--header-background-color);
        }
    }
}