.rank-stories-layout-container {
    .banner {
        background-image     : url('https://yystatic.codeprime.net/desktop/img/tables/table-bg-14.jpg');
        height               : 200px;
        background-position-y: bottom;
        background-repeat    : no-repeat;
        background-size      : cover;

        .title,
        .sub-title {
            color: white;
        }

        .title {
            font-size: 3.5rem;
        }

        .sub-title {
            font-size: 2rem;
        }
    }

    .rank-stories-layout-content {

        .ant-menu-title-content {
            text-transform: capitalize;
            font-size     : 15px;
        }
    }
}