.home-container {
    .home-content {
        .content-top-item {
            height: 300px;
        }

        @media screen and (min-width:320px) and (max-width: 530px) {
            .content-top-item-middle {
                .ant-carousel {
                    .slick-slider {

                        .slick-list,
                        .slick-track {
                            height: inherit;
                        }

                        .slick-slide {
                            &>div {
                                height: inherit;

                                &>div {
                                    height: inherit;
                                }
                            }
                        }

                        .slide-item {
                            height: inherit !important;
                        }
                    }
                }
            }

            .story-container {
                .story-item {
                    .ant-row {
                        .ant-col:nth-child(1) {
                            max-width: fit-content;

                            .image {
                                width: 90px;
                            }
                        }

                        .ant-col:nth-child(2) {
                            max-width: 100%;
                            flex     : unset;
                        }
                    }
                }
            }
        }

        @media screen and (min-width:320px) and (max-width: 370px) {
            .content-top-item-middle {
                height: 150px;

                .ant-carousel {
                    height: 150px;

                    .slick-slider {
                        height: 150px;
                    }
                }
            }
        }

        @media screen and (min-width:371px) and (max-width: 530px) {
            .content-top-item-middle {
                height: 220px;

                .ant-carousel {
                    height: 220px;

                    .slick-slider {
                        height: 220px;
                    }
                }
            }
        }

        .more-icon {
            font-size: 24px;
            color    : aqua;
        }

        .content-top-item-left {
            background-color: #343a40 !important;

            .category {
                color : white;
                cursor: pointer;

                &:hover,
                &:hover .amount {
                    color           : #007bff;
                    background-color: rgba(10, 141, 223, .1);
                }
            }

            .name {
                font-size: 13px;
            }

            .amount {
                font-size       : 12px;
                color           : #888;
                background-color: unset !important;
            }
        }

        .story-container {
            .story-item {

                .name-text,
                .author-text {
                    &:hover {
                        cursor: pointer;
                        color : #4497f8;
                    }
                }

                .chapters {
                    color: #f50;
                }

                .read {
                    color: #4497f8;
                }

                .text-small {
                    font-size: 10px;
                }

                .description {
                    svg {
                        font-size: 20px;
                    }

                    span {
                        font-size: 12px;
                    }
                }
            }

            @media screen and (min-width:320px) and (max-width: 575px) {
                .story-item-skeleton {
                    .ant-row {
                        .ant-col:nth-child(1) {
                            max-width: 100%;
                        }

                        .ant-col:nth-child(2) {
                            margin-top: 0.5rem;

                            &>div {
                                padding: 0 !important;
                            }
                        }
                    }
                }
            }
        }

        .slick-list {
            border-radius: 8px;
        }

        .content-top-item-right {
            background-color: #f4f4f4 !important
        }

        .premium-cover {
            border                : 1px solid red;
            // background-image   : url('https://i.pinimg.com/736x/b3/09/66/b309668eab49a195f36e4ef37d39a3e4.jpg');
            // background-size    : cover;
            // background-repeat  : no-repeat;
            // background-position: center;
        }
    }
}

.ant-drawer-content-wrapper:has(.drawer-category-full) {
    height: fit-content !important;
}