@media print {
    @page {
        size  : A4;
        margin: 0;
    }

    a[href]:after {
        display   : none;
        visibility: hidden;
    }

    .preview-print-wrapper {
        padding: 32px;
    }
}