.auth-container {
    height: 100vh;

    .auth-content {
        .banner {
            position: relative;

            .name {
                position: absolute;
                bottom  : 0;
                right   : 10px;
                color   : #fff;
            }
        }
    }
}