.posted-stories-container {
    .posted-stories-content {
        .custom-title-hover {
            --s: 0.1em;
            /* the thickness of the line */
            --c: #1095c1;
            /* the color */

            color         : #0000;
            padding-bottom: var(--s);
            background    :
                linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
                linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
            -webkit-background-clip: text, padding-box;
            background-clip        : text, padding-box;
            transition             : 0.2s;

            &:hover {
                --_p: 100%
            }
        }
    }
}

.ant-drawer-content-wrapper:has(.drawer-posted-stories) {
    width: 70vw !important;

    @media screen and (min-width: 320px) and (max-width: 991px) {
        width: 90vw !important;
    }
}