.header-container {
    padding         : 10px !important;
    background-color: #f4f4f4;
    box-shadow      : rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    .ant-menu {
        border-bottom: unset;

        .ant-menu-item::after {
            position: absolute;
            top     : 0;
            bottom  : unset;
        }
    }
}