.row-story-container {
    .row-story-content {

        .name,
        .author,
        .category {
            width: fit-content
        }

        .author-chapters {
            width: unset;
        }

        .author,
        .author-chapters {
            cursor: pointer;
        }

        .name {
            font-size: 24px;
        }

        .author,
        .author-chapters {
            &:hover {
                color: #f50;
            }
        }

        .chapters {
            text-transform: uppercase;
            border        : 1px solid #ddd;
            border-radius : 5px;

            &.chapters-small {
                font-size: 10px;
            }
        }
    }
}