.custom-global-search-dropdown {
    width : 60vw !important;
    height: 60vh;

    &>div>div {
        gap: 10px
    }

    .rc-virtual-list {
        width: 70%;

        .rc-virtual-list-holder {
            max-height: 60vh !important;
        }
    }

    .ant-divider {
        height: inherit;
    }
}