.custom-global-search-dropdown {
    width           : 60vw !important;
    background-color: #fff;
    box-shadow      : 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    padding         : 0 5px;
    border-radius   : 8px;

    &.xs {
        .ant-dropdown-menu {
            display: none;
        }
    }

    &.md {

        .ant-dropdown-menu,
        .loading-skeleton,
        .no-matching {
            width: 100%;
        }
    }

    &.lg,
    &.xl,
    &.xxl {

        .ant-dropdown-menu,
        .loading-skeleton,
        .no-matching {
            width : 70%;
            height: 80vh;
        }
    }

    .ant-dropdown-menu {
        box-shadow     : unset;
        padding        : 5px;
        overflow       : hidden;
        scrollbar-width: thin;
        scrollbar-color: unset;

        &:hover {
            overflow-y: auto;
        }

        .ant-dropdown-menu-item {
            .ant-dropdown-menu-title-content {
                width: 100%;
            }
        }
    }

    .loading-skeleton {
        padding: 5px 0;
    }

    .no-matching {

        .ant-result {
            width: 100%;
        }
    }

    .ant-divider {
        height: inherit;
    }

    .filter {
        width: 30%;

        .search-filter-content {
            padding: 5px;
        }
    }
}